<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

  <a class="navbar-brand" href="#">Wait for proj name ....</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="basicExampleNav">

    <ul class="navbar-nav mr-auto">
      <li >
        <a class="nav-link"  [routerLink]="['/welcomepage']">Home
          <span class="sr-only"  >(current)</span>
        </a>
      </li>
      <li class="nav-item active" >
        <a class="nav-link" [routerLink]="['/userhome']">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/myprojects']">My projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>



    </ul>




  </div>

</nav>

<section id="profile">
  <div style="display : inline-block" class="container-fluid">
    <div class="row">
    <div  class="col-md-3  " style="margin-left: 5%; ; border: b" >
      <div class="card-header text-center">
        <h3 >{{user?.username}}</h3>
      </div>
      <div class="text-center">
        <img  src="http://localhost:8080/{{user?.imagesrc}}" alt="" class="center">
        <label class="btn btn-default">
          Change profile picture <input type="file" hidden  (change)="onFileSelected($event)">
      </label>
    </div>
      <br>
      <div class="card-header">
      <p> joined at </p>
    </div>
    <div >
      <br>
      <p>{{user?.creationDate}}</p>
    </div>

    <div class="card-header">
        <p> Skills </p>
      </div>

      <p >
        <span class="tags" style="white-space:pre-wrap; margin-right: 1.5%" *ngFor="let skill of user?.skills ; let i = index"  >{{skill?.name}}</span>
      </p>
      <div>
          <form  [formGroup]="skillform">
        <input [hidden]="!skill" type="text" formControlName="skillname" name="country" class="form-control" placeholder={{skillplaceholder}}>
        <button mdbBtn  [hidden]="skillbuttons" (click)="addSkill()" type="button" color="primary" outline="true" mdbWavesEffect>Add skill</button>
        <button  mdbBtn [hidden]="skillbuttons" (click)="removeSkill()" type="button" color="danger" outline="true" mdbWavesEffect>Remove skill</button>
        <button mdbBtn  [hidden]="!skillbuttons" (click)="add()" type="button" color="primary" outline="true" mdbWavesEffect>Add </button>
        <button  mdbBtn [hidden]="!skillbuttons" (click)="remove()" type="button" color="danger" outline="true" mdbWavesEffect>Remove </button>
          </form>
      </div>

      <div class="card-header" style="margin-top : 5%">
          <p> Intrested in  </p>
        </div>
        <p >
          <span class="tags" style="white-space:pre-wrap; margin-right: 1.5%" *ngFor="let intrest of user?.intrests ; let i = index"  >{{intrest?.name}}</span>
        </p>
        <div>
            <form  [formGroup]="intrestform">
          <input [hidden]="!intrest" type="text" formControlName="intrestname" name="country" class="form-control" placeholder={{intrestplaceholder}}>
          <button mdbBtn  [hidden]="intrestbuttons" (click)="addIntrest()" type="button" color="primary" outline="true" mdbWavesEffect>Add intrest</button>
          <button  mdbBtn [hidden]="intrestbuttons" (click)="removeIntrest()" type="button" color="danger" outline="true" mdbWavesEffect>Remove intrest</button>
          <button mdbBtn  [hidden]="!intrestbuttons" (click)="addint()" type="button" color="primary" outline="true" mdbWavesEffect>Add </button>
          <button  mdbBtn [hidden]="!intrestbuttons" (click)="removeint()" type="button" color="danger" outline="true" mdbWavesEffect>Remove </button>
            </form>
        </div>


      </div>


      <div class="col-md-7">
        <div class="card" style="margin-left: 10%" >

          <div class="card-header">
            <h4>Basic Informations</h4>
          </div>
          <div class="card-body">
            <p *ngFor="let invi of user?.invitations">{{invi.description}} + {{invi.type}}</p>
            <form *ngIf="user" [formGroup]="formprofile" >
              <div class="form-group">
                <label for="name">First name</label>
                <input [readOnly]="formEditable" formControlName="firstname"  type="text" name="firstname" class="form-control" value="{{user?.firstname}}">
              </div>
              <div class="form-group">
                  <label for="name">Last name</label>
                  <input [readOnly]="formEditable" type="text" formControlName="lastname" name="lastname" class="form-control" value="{{user?.lastname}}">
                </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input [readOnly]="formEditable"  type="text"  name="email" formControlName="email" class="form-control"  value="{{user?.email}}">
              </div>
              <div class="form-group">
                  <label for="name">Phone number</label>
                  <input [readOnly]="formEditable" type="text" formControlName="phone" name="phone" class="form-control" value="{{user?.phone}}">
                </div>
                <div class="form-group">
                    <label for="name">Country</label>
                    <input [readOnly]="formEditable" type="text" formControlName="country" name="country" class="form-control" value="{{user?.country}}">
                  </div>
              <div class="form-group">
                <label for="bio">Description</label>
                <textarea [readOnly]="formEditable" class="form-control" formControlName="description" name="description">{{user?.description}}</textarea>
              </div>
              <button mdbBtn [hidden]="!edit" (click)="onEdit()" type="button" color="primary" outline="true" mdbWavesEffect >Edit</button>
              <button mdbBtn  [hidden]="!save" (click)="updateProfileData()" type="button" color="success" outline="true" mdbWavesEffect>Save</button>
              <button  mdbBtn [hidden]="!cancel" (click)="onCancel()" type="button" color="danger" outline="true" mdbWavesEffect>Cancel</button>


            </form>
          </div>
        </div>

        <div class="card" style="margin-left: 10% ; margin-top: 5%" >

          <div class="card-header">
            <h4>Complementary informations</h4>
          </div>
          <br>
          <div clas="card-header" style="padding-left: 5%">
              <h3>Education</h3>
          </div>
          <div class="card-body" >
            <div *ngFor="let ed of user?.education ; let i = index" class="card-header" style="margin-top: 2%">
                <form *ngIf="user" [formGroup]="educationform">
                    <label>Diploma</label>
                    <input [readOnly]="true" type="text" formControlName="education" class="form-control"  value="{{ed.institution}}">
                    <div class="form-inline " style="margin-bottom: 2%" >
                        <label for="email">Institution</label>
                        <input [readOnly]="true" type="text" formControlName="inst" class="form-control" value="{{ed.place}}"  >
                        <label for="pwd">Year</label>
                        <input [readOnly]="true" type="text" formControlName="year" class="form-control" value="{{ed.year}}" >
                        <button type="button"  class="btn btn-danger"(click)="removeEducation(i)" >Remove</button>


                      </div>
                    </form>

            </div>



            <div class="card-header" style="margin-top: 2%">
              <form *ngIf="user" [formGroup]="educationform">
              <label>Diploma</label>
              <input type="text" formControlName="education" class="form-control"  value="">
              <div class="form-inline "  >
                  <label for="email">Institution</label>
                  <input type="text" formControlName="inst" class="form-control"   >
                  <label for="pwd">Year</label>
                  <input type="text" formControlName="year" class="form-control" >
                  <br>
                  <button [disabled]="!educationform.valid" type="Button" (click)="addEducation()" >Add new </button>
                </div>
              </form>
              </div>

              <br>


            </div>

            <div clas="card-header" style="padding-left: 5%">
              <h3>Experiances</h3>
          </div>
          <div class="card-body" >
            <div *ngFor="let exp of user?.experiance ; let i = index" class="card-header" style="margin-top: 2%">
                <form *ngIf="user" [formGroup]="educationform">
                    <label>Experiance</label>
                    <input [readOnly]="true" type="text" formControlName="education" class="form-control"  value="{{exp.exp}}">
                    <div class="form-inlines " style="margin-bottom: 2%" >
                        <label for="pwd">Year</label>
                        <input [readOnly]="true" type="text" formControlName="year" class="form-control" value="{{exp.expyear}}" >
                        <button type="button"  class="btn btn-danger"(click)="removeExperiance(i)" >Remove</button>


                      </div>
                    </form>

            </div>



            <div class="card-header" style="margin-top: 2%">
              <form *ngIf="user" [formGroup]="educationform">
              <label>Experiance</label>
              <input type="text" formControlName="education" class="form-control"  value="">
              <div class="form-inlines "  >
                  <label >Year</label>
                  <input type="text" formControlName="year" class="form-control" value="" >
                  <br>
                  <button [disabled]="!educationform.valid" type="Button" (click)="addExperiance()" >Add new </button>
                </div>
              </form>
              </div>

              <br>



            </div>

          </div>
        </div>
      </div>

    </div>




</section>

<!-- FOOTER -->
<footer id="main-footer" class="bg-dark text-white mt-5 p-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead text-center">
          Copyright &copy;
          <span id="year"></span>
          Trabelsi Fedi
        </p>
      </div>
    </div>
  </div>
</footer>






<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
  crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

<script>
  // Get the current year for the copyright
  $('#year').text(new Date().getFullYear());

  CKEDITOR.replace('editor1');
</script>

