
<header>

  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>Waiting for proj name ...</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['/login']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" [routerLink]="['/login']">About</a>
        </li>
      </ul>

    </links>
  </mdb-navbar>

  <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/89.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row pt-lg-5 mt-lg-5">
          <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="display-4 font-weight-bold">What is waiting for proj name ... ?</h1>
            <hr class="hr-light">
            <h6 class="mb-3">It's a semestrial project that .... and ..... so you can ..... and .....
              but also .........
            </h6>
            <a mdbBtn color="white" outline="true" mdbWavesEffect>Learn more</a>
          </div>
          <div class="col-md-6 col-xl-5 mb-4" style="margin-left: 2cm">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="continer-fluid">

</div>
