<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">waiting for proj name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/welcomepage']">
          <i class="fa fa-home" ></i>
          Home

          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/userhome']">
          <i class="fa fa-user" ></i>
          Profile
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/myprojects']">
          <i class="fa fa-edit" ></i>
          My projects
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >
          <i class="fa fa-group" ></i>
          Forum
          </a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/welcomepage']">
          <i class="fa fa-envelope-o">
            <span *ngIf="notifications>0" class="badge badge-danger">{{notifications}}</span>
          </i>
          Notifications
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          <i class="fa fa-power-off">

          </i>
          Logout
        </a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
