<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<app-navbar></app-navbar>


<section id="profile">
  <div style="display : inline-block" class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">{{user?.username}}</h4>
          </div>
          <div class="panel-body">
            <div class="profile__avatar">
              <img src={{profilepic}} alt="...">
            </div>
            <div class="profile__header">
              <h4>{{user?.firstname}} {{user?.lastname}} <br><small>Memeber</small></h4>
              <p class="text-muted">
                {{user?.description}}
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">User info</h4>
          </div>
          <div class="panel-body">
            <table class="table profile__table">
              <tbody>
                <tr>
                  <th><strong>Country</strong></th>
                  <td>{{user?.country}}</td>
                </tr>
                <tr>
                  <th><strong>Status</strong></th>
                  <td>Student</td>
                </tr>
                <tr>
                  <th><strong>Position</strong></th>
                  <td>2nd year student</td>
                </tr>
                <tr>
                  <th><strong>Age</strong></th>
                  <td>{{user?.age}}</td>
                </tr>
                <tr>
                  <th><strong>Phone</strong></th>
                  <td>{{user?.phone}}</td>
                </tr>
                <tr>
                  <th><strong>Email</strong></th>
                  <td>{{user?.email}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">Community</h4>
          </div>
          <div class="panel-body">
            <table class="table profile__table">
              <tbody>
                  <tr>
                      <th><strong>Member since</strong></th>
                      <td>{{user?.creationDate}}</td>
                    </tr>
                <tr>
                  <th><strong>Friends</strong></th>
                  <td>{{user?.friends}}</td>
                </tr>

                <tr>
                  <th><strong>Projects</strong></th>
                  <td>{{user?.projects.length}}</td>
                </tr>
                <tr>
                    <th><strong>Forum contributions</strong></th>
                    <td>{{user?.contcount}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>



      </div>


      <div class="col-md-8">
        <div class="card" style="margin-left: 10%" >

          <div class="card-header">
            <h3>{{userProjects?.projects[projectId].projectname}}</h3>
          </div>
          <div class="card-body">
            <h4>General informations</h4>
          </div>
          <div class="card-body">
          <form *ngIf="userProjects" [formGroup]="generalform" >
              <div class="form-group">
                <label for="name">Project name</label>
                <input [readOnly]="generalFormEditable"   formControlName="projectname"  type="text" name="firstname" class="form-control" >
              </div>
              <div class="form-group">
                  <label for="name">Description</label>
                  <input  [readOnly]="generalFormEditable" formControlName="description"  type="text" name="firstname" class="form-control" >
                </div>
                <button mdbBtn [hidden]="!edit" (click)="onEdit()" type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>{{generalbutton}}</button>
                <button mdbBtn  [hidden]="!save" (click)="updateGeneralData()" type="button" color="success" outline="true" mdbWavesEffect>Save</button>
              <button  mdbBtn [hidden]="!cancel" (click)="onCancel()" type="button" color="danger" outline="true" mdbWavesEffect>Cancel</button>
                <div class="form-group" style="margin-top: 3%">
                    <label for="name">Technologies</label>
                    <p >
                        <span class="tags" style="white-space:pre-wrap; margin-right: 1.5%" *ngFor="let technologie of userProjects?.projects[projectId].technologies ; let i = index"  >{{technologie?.name}}</span>
                    </p>
                    <input [hidden]="!tech" type="text" formControlName="technologies" name="country" class="form-control" placeholder={{techplaceholder}}>
                    <button mdbBtn  [hidden]="techbuttons" (click)="addTech()" type="button" color="primary" outline="true" mdbWavesEffect>Add / Remove technologie</button>
                    <button mdbBtn  [hidden]="!techbuttons" (click)="add()" type="button" color="primary" outline="true" mdbWavesEffect>Add </button>
                    <button  mdbBtn [hidden]="!techbuttons" (click)="remove()" type="button" color="danger" outline="true" mdbWavesEffect>Remove </button>
                    </div>
                    <label >Team members</label>
                        <ul class="list-group" id="contact-list">
                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3">
                                    <img src="http://192.168.43.92:8080/{{userProjects.projects[projectId].creator?.imgsrc}}" width="30" height="30"  class="img-responsive img-circle" />
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">{{userProjects.projects[projectId].creator?.creatorname}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li *ngFor="let mem of userProjects.projects[projectId]?.members" class="list-group-item">
                                <div class="col-xs-12 col-sm-3">
                                    <img src="http://192.168.43.92:8080/{{mem.imgsrc}}" width="30" height="30"  class="img-responsive img-circle" />
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">{{mem.membername}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            </ul>
                            <input [hidden]="!member"  type="text" formControlName="membername"  class="form-control" placeholder={{memberplaceholder}} >
                            <button mdbBtn (click)="showaddmember()" [hidden]="memberbutton" type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>Add members</button>
                            <button mdbBtn (click)="addMember()" [hidden]="!memberbutton" type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>Send invitation</button>


              </form>
              </div>
        </div>

        <div class="card" style="margin-left: 10%; margin-top: 5%" >

          <div class="card-header">
            <h3>Shared files</h3>
          </div>

          <div class="card-body">
            <div class="productbox">
            <h4> Upload new file </h4>
            <br>
            <form  [formGroup]="fileform">
            <label for="bio">Description</label><br>
            <textarea  class="form-control"  formControlName="filedesc" name="description" placeholder="provide a description to the file"></textarea>
            <label class="btn btn-default">
              Upload <input type="file" hidden  (change)="onFileSelected($event)">
          </label>
          </form>
        </div>
          <div style="margin-top: 5%" >
           <label>Existing files</label>
           <div *ngFor="let file of userProjects?.projects[projectId]?.attachedFiles ; let i = index ;" style="margin-top: 3%" class="col-md-12">
            <div class="productbox">

              <div class="producttitle">File name</div>
              <address>{{file?.filename}}</address>
              <b class="text-justify">Description</b><br>
              <address>
                {{file?.description}}
              </address>

              <address>
                <strong>Link</strong><br>
                <a href="{{file?.filesrc}}">click here to download</a>
              </address>
              <div class="productprice">
                  <div class="pull-right">
                      <a *ngIf="file.uploader===user?.username" (click)="removeFile(i)" class="btn btn-danger btm-sm" role="button">Remove</a>
                  </div>
                  <div class="pricetext">
                      <a href="#" class="btn btn-warning btm-sm" role="button">Edit <span class="glyphicon glyphicon-cog"></span></a>
                  </div>

                  </div>
            </div>
          </div>
          </div>
          </div>

        </div>

        <div class="card" style="margin-left: 10%; margin-top: 5%" >


            <div class="card-header">
              <h3>Project chat</h3>
            </div>


            <div class="card-body">
              <div class="productbox">
                <div class="well" style="height:200px; padding:15px;">
                    <div *ngFor="let item of messageArray">
                    <span><strong>{{item.user}} : </strong> {{item.message}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="messageText" >
                </div>
                <div class="col-sm-2">
                        <button type="button" class="btn btn-success pull-right" (click)="sendMessage()" >Send</button>
                </div>
            </div>
        </div>

        </div>





        </div>

      </div>
      </div>








</section>

<!-- FOOTER -->
<footer id="main-footer" class="bg-dark text-white mt-5 p-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead text-center">
          Copyright &copy;
          <span id="year"></span>
          Trabelsi Fedi
        </p>
      </div>
    </div>
  </div>
</footer>

