<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

  <a class="navbar-brand" href="#">Wait for proj name ....</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="basicExampleNav">

    <ul class="navbar-nav mr-auto">
      <li >
        <a class="nav-link" (click)="logout()" [routerLink]="['/login']">Home</a>
      </li>
      <li class="nav-item " >
        <a class="nav-link" [routerLink]="['/userhome']">Profile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " [routerLink]="['/myprojects']">My projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>



    </ul>




  </div>

</nav>

<section id="profile">
  <div style="display : inline-block" class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">{{user?.username}}</h4>
          </div>
          <div class="panel-body">
            <div class="profile__avatar">
              <img src={{profilepic}} alt="...">
            </div>
            <div class="profile__header">
              <h4>{{user?.firstname}} {{user?.lastname}} <br><small>Memeber</small></h4>
              <p class="text-muted">
                {{user?.description}}
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">User info</h4>
          </div>
          <div class="panel-body">
            <table class="table profile__table">
              <tbody>
                <tr>
                  <th><strong>Country</strong></th>
                  <td>{{user?.country}}</td>
                </tr>
                <tr>
                  <th><strong>Status</strong></th>
                  <td>Student</td>
                </tr>
                <tr>
                  <th><strong>Position</strong></th>
                  <td>2nd year student</td>
                </tr>
                <tr>
                  <th><strong>Age</strong></th>
                  <td>{{user?.age}}</td>
                </tr>
                <tr>
                  <th><strong>Phone</strong></th>
                  <td>{{user?.phone}}</td>
                </tr>
                <tr>
                  <th><strong>Email</strong></th>
                  <td>{{user?.email}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">Community</h4>
          </div>
          <div class="panel-body">
            <table class="table profile__table">
              <tbody>
                  <tr>
                      <th><strong>Member since</strong></th>
                      <td>{{user?.creationDate}}</td>
                    </tr>
                <tr>
                  <th><strong>Friends</strong></th>
                  <td>{{user?.friends}}</td>
                </tr>

                <tr>
                  <th><strong>Projects</strong></th>
                  <td>{{user?.projects.length}}</td>
                </tr>
                <tr>
                    <th><strong>Forum contributions</strong></th>
                    <td>{{user?.contcount}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>



      </div>


      <div class="col-md-8">
        <div class="card" style="margin-left: 10%" >

          <div class="card-header">
            <h4>Create new project</h4>
          </div>


          <div class="card-body">
              <div class="card-body">
                  <form  [formGroup]="projectform" >
                    <div class="form-group">
                      <label for="name">Project name</label>
                      <input  formControlName="projectname"  type="text" name="firstname" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label for="name">description</label>
                        <input type="text" formControlName="description" name="lastname" class="form-control" value="">
                      </div>
                    <button mdbBtn (click)="createProject()" type="button" color="primary" outline="true" mdbWavesEffect >Create</button>


                  </form>
                </div>
          </div>

        </div>

        <div class="card" style="display:inline-block; margin-left: 10% ; margin-top: 5%" >
          <div class="card-header">
            <h4>My projects</h4>
          </div>
          <div class="card-body">


          <div  *ngFor="let proj of userProjects?.projects ; let i = index ;" class="col-md-6">
              <div class="thumbnail">
                  <div class="caption">
                    <div class='col-lg-12'>
                    </div>
                    <div class='col-lg-12 well well-add-card'>
                        <h4>{{proj?.projectname}}</h4>
                    </div>
                    <div class='col-lg-12'>
                        <p>{{proj?.description}}</p>
                        <p class="text-muted">Creation date : {{proj?.creationDate}}</p>
                    </div>
                    <div class='col-lg-12'>
                        <p>Team members</p>
                        <ul class="list-group" id="contact-list">
                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3">
                                    <img src="http://localhost:8080/{{proj?.creator.imgsrc}}" width="30" height="30"  class="img-responsive img-circle" />
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">{{proj?.creator.creatorname}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li *ngFor="let mem of proj?.members" class="list-group-item">
                                <div class="col-xs-12 col-sm-3">
                                    <img src="http://localhost:8080/{{mem.imgsrc}}" width="30" height="30"  class="img-responsive img-circle" />
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">{{mem.membername}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            </ul>
                    </div>
                    <button type="button" (click)="editProject(i)" class="btn btn-primary btn-xs btn-update btn-add-card">Edit</button>
                    <button type="button" (click)="removeProject(i)" class="btn btn-danger btn-xs btn-update btn-add-card">Delete</button>
                </div>
              </div>
              </div>

          </div>


          </div>
        </div>
      </div>



    </div>





</section>

<!-- FOOTER -->
<footer id="main-footer" class="bg-dark text-white mt-5 p-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead text-center">
          Copyright &copy;
          <span id="year"></span>
          Trabelsi Fedi
        </p>
      </div>
    </div>
  </div>
</footer>

